#about-two {
width: 100%;
background-color: $main-color;
height: 90vh;
  // border: 5px solid yellowgreen;
font-size: 1rem;
}


#about-text {
    padding: 1em;
    color: $second-color;
    width: auto;

    
    
}

 @media only screen and (min-width : 480px) {
   #about-two {
     height: 80vh;
   }

   
 }

