#about-two {
width: 100%;
background-color: $main-color;
height: 50vh;
  border: 5px solid yellowgreen;
}


img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  float: left;
  
}


#about-text {
    padding: 1em;
    color: $second-color;
    width: auto;

    
    
}

 @media only screen and (min-width : 480px) {
   #about-two {
     height: 80vh;
   }

   
 }

