$main-color: #10321c;
$hf-bg-color: #70D6FF;
$hf-font-color: #FF9770;
$white: #F3FBFF;
$second-color: #C0B283;
$head-font: 'Ribeye Marrow', cursive;
$main-font: 'Oldenburg', sans-serif;

@mixin nav-font-style{
    font-family: $main-font; 
    font-size: 1.7em;  
    background-color: $main-color;        
}

@mixin container-style {
    height: 100%;
    width: 100%;
    color: $main-color;    
    font-style: $main-font;
}

@mixin hover-style {
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.app {    
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: $white;
    font-size: 10px;

      }

