
// #FFFFFF White
// #54DEFD maya blue
// #FFE8D1 Blanched almond
// #56EA3 Rackley
// #826251 Pastel Brown


//#206639 lighter dark green
//184c2b darker green color
$main-color: #10321c;
$hf-bg-color: #70D6FF;
$hf-font-color: #FF9770;
$white: #F3FBFF;
$second-color: #C0B283;

@mixin nav-font-style{
    font-family: 'Oldenburg', sans-serif;   
    background-color: $white;
    padding: 1.5em;
}

.app {    
    height: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 10vh;
    background-color: $white;

      }