#contact {
    @include container-style;
    background-color: $second-color;
    //slants the top of the container dynamically
    padding: 1em;
    font-size: 1rem;
    height: 100vh;
    
  }

  .contact-pic {
      font-size: 4rem;
      margin: 1.8rem 0;
  }

  .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
  }

  .contact-item {
    font-family: $main-font;
    font-size: 1.3rem;
  }



 @media only screen and (min-width : 768px) {

.contact {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem auto;
    
    
}

.contact-item {
    margin-left: 2em;
    font-size: 2rem;
    width: auto;

   
    
}

.contact-pic {
    margin:1rem;

}

}

@media only screen and (min-width: 1000px){
    #contact {
        height: 70vh;
    }
}