#contact {
    @include container-style;
    background-color: $second-color;
    //slants the top of the container dynamically
    padding: 1em;
    height: 80vh;
    
  }

  .contact-pic {
      font-size: 5em;
  }

  .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
  }

  .contact-item {
    font-family: $main-font;
    font-size: 1.1em;
  }



 @media only screen and (min-width : 768px) {

.contact {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}

.contact-item {
    margin-left: 2em;
   
    
}

}