.header-container {    
    padding: 1em;        
    height: 5vh;
    @include nav-font-style;
    color: $hf-bg-color;
     font-size: 1.5em;    
     border-bottom: 3px solid $hf-font-color;
       
}

#nav-bar {
    display: flex;
    float: right;
}

#logo {
    float: left;
    
}

.nav-element {
    width: 3em;
    margin: 0 1em;

}

