#home {
    height: auto; 
    width: 100%;
    background: linear-gradient(
      rgba(243, 251, 255, 0.5)  
      rgba(243, 251, 255, 0.4),
      rgba(243, 251, 255, 0.3)),
    url("../../assets/whitebg.jpg");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;   
    color: $main-color; 
    // border: 5px solid orange;   
    font-size: 1rem;
 } 

.heading-text {   
    font-family: 'Ribeye Marrow', cursive;     
    padding: 1em;
    margin: 0 auto;
}

.heading-text>h1 {
     font-size: 3.5em;
     text-align: center;
     color: $second-color;
}

.text {  
    color: $main-color; 
    width: 100%;  
    font-family: $main-font;
    font-size: 1.5em;    
    line-height: 1.5em;  
    // border: 2px solid red; 
}

#arrow {    
    display: block;
    position: relative;
    top: 1em;
    text-align: center;
    color: lighten($second-color, 10%);
    animation: bounce 1s infinite alternate;
      -webkit-animation: bounce 1s infinite alternate;
}


@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

 @media only screen and (min-width : 480px) {
   

   .heading-text{
     padding: 2em;    
    
   }

   .heading-text > h1 {
     font-size: 4em;
     text-align: center;
     color: $second-color;
}

  .text { 
    width: 100%; 
    margin: 2em auto;  
    font-size: 1.8em;
     
   
}



    }





@media only screen and (min-width: 768px){

.heading-text {  
    float: left;
    text-align: justify;
    
}

.heading-text>h1 {
     font-size: 5em;
     text-align: left;
     color: $second-color;
}

  .text { 
    width: 60%;
    margin: 1.5em;   
    font-size: 1.9em;
    float: left;
   
}







}

   @media only screen and (min-width : 1200px) {

    .heading-text>h1 {
      font-size: 6em;

    }

    .text {
      font-size: 2.3em;
    }

    }