.home-container {
    height: 100%; 
    width: 100%;
    background: linear-gradient(
      rgba(243, 251, 255, 0.9)  
      rgba(243, 251, 255, 0.7),
      rgba(243, 251, 255, 0.9),
    ),
    url("../../assets/whitebg.jpg");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;   
    color: $main-color; 
 } 
 
.heading-text {   
    font-family: 'Ribeye Marrow', cursive; 
    float: left;
    text-align: left;
    padding: 1em;  
    margin: 2em 0;
    padding: 5em;
}

.heading-text>h1 {
     font-size: 5em;
     
}



.heading-text>h2{
    font-size: 4em;

}

.intro {   
    width: 60%;
    margin: 2em;
    font-family: 'Oldenburg', sans-serif;
    font-size: 2em;
    float: left;
    text-align: left;
    line-height: 2em;
}

// .stack {
//     border: 5px solid $hf-font-color;
//     border-radius: 5px;
//     padding: 2em;
//     margin: 2em;
//     font-size: 2em;
//     float: left;

// }