.home-container {
    height: 50em; 
    width: 100%;  
    margin: 0 auto;       
}

img {
    height: inherit;
    width: inherit;
    overflow: hidden;
    background-repeat: no-repeat;
    opacity: .4;
   

}

.heading-text {
    color: #FF70A6;
    font-family: 'Ribeye Marrow', cursive;    
    text-align: center;
    padding: 1em;  
    z-index: 99;
}

.heading-text>h1 {
     font-size: 56px;
     color: $hf-font-color;
}

.heading-text>h2{
    font-size: 48px;
    color: #70D6FF;
}