@import 'reset';
@import 'App';
@import 'Home';
@import 'Header';
@import 'Footer';
@import 'About';
@import 'Projects';
@import 'Contact';
@import 'Tech';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
