#projects {
 @include container-style;
 padding: 1em;
}


.title {
    font-family: $head-font;
    font-size: 2em;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    height: 400px;
    width: 100%;   
    background-color: $second-color;
    border-radius: 5px;
    margin: 1.5em;
}

.card-title {
    font-size: 2em;
    font-family: $main-font;
    margin-bottom: 1em;
}

.card:hover {
    background-color: darken($second-color, 15%);
    @include hover-style;
}

.info-box {
    padding: 1em;
    height: inherit;
}

.image-box {
    height: inherit;
    padding: 1em;
 
    
    
}

.screenshot {    
    height: 400px;  
    width: 250px;
    border-radius: 5px;
    margin: 0 auto;
}

.project-btn {
    font-family: $main-font;
    font-size: 15px;  
    cursor: pointer;
    background-color: $main-color;
    color: $second-color;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    outline: 0;
    border: none;
    

    
}
