.projects-container {
 @include container-style;
}


.title {
    font-family: $head-font;
    font-size: 5em;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    height: 400px;
    width: 90%;
    padding: 2em;
    background-color: $second-color;
    margin: 1.5em;
    border-radius: 5px;
}

.card-title {
    font-size: 3em;
    font-family: $main-font;
}

.card:hover {
    background-color: darken($second-color, 15%);
    @include hover-style;
}