#tech {
    height: 100vh;
    @include container-style;
    padding: 1em;
     
}

.tech-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 5px solid red;
   
}

i {
    display: block;    
    font-size: 8em;    
     color: $main-color;
     margin: .2em auto;
     
}

 @media only screen and (min-width : 768px) {

.tech-icons {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;  
   
    
}


i {
    font-size: 8em;    
     color: $main-color;
     width: 15%;
     margin: .2em;
     
}

.tag {
    display: none;
    height: 1em;
    width: 4em;
}

.icon:hover {
    color: $second-color;
    @include hover-style;
}
 }
