#tech {
    height: 100vh;
    @include container-style;
    padding: 1em;
    height: auto; 
    width: 100%;
    background: linear-gradient(
      rgba(243, 251, 255, 0.5)  
      rgba(243, 251, 255, 0.4),
      rgba(243, 251, 255, 0.3)),
    url("../../assets/whitebg.jpg");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;   
    color: $main-color; 
    border: 5px solid orange;   
    font-size: 1rem;
     
}

.tech-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 5px solid red;
   
}

.icon {
    display: block;    
    font-size: 8em;    
     color: $main-color;
     margin: .3em auto;
     border: 2px solid orange;
     
}

@media only screen and (min-width: 480px){

    .tech-icons {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;  
   
    
}

.icon {
    margin: .2em .3em;

}


.icon:hover {
    color: $second-color;
    @include hover-style;
}


}

 @media only screen and (min-width : 768px) {


.icon {  
     width: 15%;

     
}



 }
