html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.app {
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 10vh;
  background-color: #F3FBFF; }

#home {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(243, 251, 255, 0.8) rgba(243, 251, 255, 0.7), rgba(243, 251, 255, 0.6)), url("../../assets/whitebg.jpg");
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  color: #10321c;
  border-right: 2em solid #C0B283; }

.heading-text {
  font-family: 'Ribeye Marrow', cursive;
  float: left;
  text-align: left;
  padding: 1em;
  margin: 2em 0;
  padding: 5em; }

.heading-text > h1 {
  font-size: 5em;
  color: #C0B283; }

.text {
  color: #10321c;
  width: 60%;
  margin: 2em;
  font-family: "Oldenburg", sans-serif;
  font-size: 2em;
  float: left;
  text-align: justify;
  line-height: 2em; }

#arrow {
  position: absolute;
  top: 9.5em;
  left: 9.5em;
  display: block;
  font-size: 5em;
  margin: 0 auto;
  text-align: center;
  color: #d1c7a5;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate; }

@keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-15px); } }
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-15px); } }
#header {
  padding: 1em;
  height: 5vh;
  font-family: "Oldenburg", sans-serif;
  background-color: #F3FBFF;
  padding: 1.5em;
  color: #10321c;
  font-size: 1.5em;
  background-color: #F3FBFF;
  border-right: 1.35em solid #C0B283; }

#nav-bar {
  display: flex;
  float: right; }

#logo {
  float: left; }

.nav-element {
  margin: 0 1em; }

.nav-element:hover {
  border-bottom: 3px solid #C0B283;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
  cursor: pointer; }

a {
  text-decoration: none;
  color: inherit; }

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5vh;
  padding: 1em;
  color: #10321c;
  text-align: center;
  font-family: "Oldenburg", sans-serif;
  background-color: #F3FBFF;
  padding: 1.5em;
  font-size: 1.5em; }

#about-two {
  width: 100%;
  background-color: #10321c;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw)); }

#about-text {
  float: right;
  color: #C0B283;
  text-align: justify; }

#projects {
  min-height: 90vh;
  height: 100%;
  width: 100%;
  padding: 5em;
  color: #10321c;
  font-style: 'Oldenberg', sans-serif; }

.title {
  font-family: "Ribeye Marrow", cursive;
  font-size: 5em; }

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card {
  height: 400px;
  width: 90%;
  background-color: #C0B283;
  margin: 1.5em;
  border-radius: 5px; }

.card-title {
  font-size: 3em;
  font-family: "Oldenburg", sans-serif;
  margin-bottom: 1em; }

.card:hover {
  background-color: #a39153;
  transition: background-color 0.3s ease-in, color 0.3s ease-in; }

.info-box {
  float: left;
  padding: 2em;
  height: inherit;
  width: 50%; }

.image-box {
  float: right;
  height: inherit;
  width: 50%;
  padding: 1em; }

.screenshot {
  height: 365px;
  width: 500px;
  border-radius: 5px;
  margin: 0 auto; }

.project-btn {
  font-family: "Oldenburg", sans-serif;
  font-size: 1em;
  cursor: pointer;
  background-color: #10321c;
  color: #C0B283;
  height: 3em;
  width: 10em;
  margin: 6em 1em;
  border-radius: 50px;
  outline: 0;
  border: none; }

#contact {
  min-height: 90vh;
  height: 100%;
  width: 100%;
  padding: 5em;
  color: #10321c;
  font-style: 'Oldenberg', sans-serif;
  background-color: #C0B283;
  clip-path: polygon(0 0, 100% calc(10vh), 100% 100%, 0 100%); }

.contact {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center; }

.contact-item {
  margin-left: 2em;
  font-family: "Oldenburg", sans-serif;
  font-size: 2em; }

#tech {
  min-height: 90vh;
  height: 100%;
  width: 100%;
  padding: 5em;
  color: #10321c;
  font-style: 'Oldenberg', sans-serif; }

.tech-icons {
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 1.5em; }

i {
  font-size: 8em;
  color: #10321c;
  width: 15%;
  margin: .2em; }

.tag {
  display: none;
  height: 1em;
  width: 4em; }

.icon:hover {
  color: #C0B283;
  transition: background-color 0.3s ease-in, color 0.3s ease-in; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

/*# sourceMappingURL=index.css.map */
